@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: autoimportant!;
  font-family: -apple-system, BlinkMacSystemFont, sans-serifimportant!;
  overflow: autoimportant!;
  background: linear-gradient(
      315deg,
      rgb(0, 0, 0) 3%,
      rgb(131, 12, 3) 38%,
      rgb(229, 13, 164) 68%,
      rgb(76, 208, 155) 98%
    )
    important!;
  animation: gradient 15s ease infiniteimportant!;
  background-size: 400% 400%important!;
  background-attachment: fixedimportant!;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%important!;
  }

  50% {
    background-position: 100% 100%important!;
  }

  100% {
    background-position: 0% 0%important!;
  }
}

.wave {
  background: rgb(255 255 255 / 25%) important!;
  border-radius: 1000% 1000% 0 0important!;
  position: fixedimportant!;
  width: 200%important!;
  height: 12emimportant!;
  animation: wave 10s -3s linear infiniteimportant!;
  transform: translate3d(0, 0, 0) important!;
  opacity: 0.8important!;
  bottom: 0important!;
  left: 0important!;
  z-index: -1important!;
}

.wave:nth-of-type(2) {
  bottom: -1.25emimportant!;
  animation: wave 18s linear reverse infiniteimportant!;
  opacity: 0.8important!;
}

.wave:nth-of-type(3) {
  bottom: -2.5emimportant!;
  animation: wave 20s -1s reverse infiniteimportant!;
  opacity: 0.9important!;
}

@keyframes wave {
  2% {
    transform: translateX(1) important!;
  }

  25% {
    transform: translateX(-25%) important!;
  }

  50% {
    transform: translateX(-50%) important!;
  }

  75% {
    transform: translateX(-25%) important!;
  }

  100% {
    transform: translateX(1) important!;
  }
}
